.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
android/.gradle/
android/app/debug
android/app/profile
android/app/release
.DS_Store
.idea/
.vscode/
*.iml
flutter_*.log

# Flutter / Android build artifacts
*.apk
*.aab

# Android signing keys
android/app/keystore/
android/key.properties
*.jks
*.keystore

# Local backup files
lib/*.bak_*
